<!DOCTYPE html>
<html>
	<head>
		<title>Simple Anonymous Message Board</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<form action="/submit" method="POST">
			{% csrf_token %}
			<input type="text" name="msg" />
			<button type="submit">Send</button>
		</form>
		<hr>
		{% if messages %}
			{% for msg in messages %}	
				<span name="msg">
					<div name="id" id={{msg.MsgId}}>{{msg.Username}}</div>
					<div name="msg">{{msg.MessageString}}</div>
				</span>
			{% endfor %}
		{% endif %}
	</body>
</html>
